[user]
	name = Arash Pourhabibi
	email = arash.pourhabibi@oracle.com
[color]
	ui = true
[alias]
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	st = status
	sts = status -s
	cm = commit
	br = branch
	co = checkout
	df = diff
	lg = log --oneline --decorate --all --graph
	ft = fetch
	mg = merge
	pl = pull
	ps = push
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[core]
	autocrlf = input
	fileMode = false
[pull]
	rebase = true
[rerere]
	enabled = true
[mergetool]
	prompt = false
	keepBackup = false
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
