[user]
    name = neo
    email = arash.p.z@gmail.com
[color]
    ui = true

[alias]
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    st = status
    sts = status -s
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log --oneline --decorate --all --graph
    ft = fetch
    mg = merge
    pl = pull
    ps = push
[push]
    default = simple
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[core]
    autocrlf = input
[pull]
    rebase = true
[rerere]
    enabled = true
